/*
                BUTTONS
===============================================*/

.btn {
  position: relative;
  all: unset;
  display: inline-block;
  color: inherit;
  font-size: inherit;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  padding: 1em;
  @include transition(all, 0.25s, ease-in-out);

  &::after{
    content: attr(data-text);
    opacity: 1;
    padding: 4px 16px;
  }

  &:hover {
    @include scale(0.98);

    &::after{
      content: attr(data-text);
      opacity: 1;
      @include transition(all, 0.25s, ease-in-out);
    }
  }
}

.btn--primary {
  @extend .btn;
  background: $link-hvr-c;
}
