<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src='https://kit.fontawesome.com/132e87df1f.js'></script>
  <title>wpk-core</title>
</head>
<body>
</body>
<div class="container">
  <header class="header__main">
    <h1>Songs quotes</h1>
  </header>
  <div id="quote-box" class="quote-box">
    <p class="text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi assumenda quas quaerat unde possimus voluptatem quia sint
       quibusdam reiciendis molestias velit nemo tempora omnis quis, earum error ducimus expedita,
       recusandae corrupti totam! Eum quia blanditiis atque sint, repudiandae cupiditate corporis ipsam
        porro cum voluptate a, culpa nihil beatae inventore quidem.
    </p>
  </div>
  <div class="buttons-box">
    <a href="#" id="clipboard" class="btn" data-text="kopiuj">
      <i class="fas fa-clipboard"></i>
    </a>
    <a href="#" id="shake" class="btn" data-text="losuj">
      <i class="fas fa-share-alt"></i>
    </a>
    <a href="#" id="share" class="btn" data-text="udostępnij">
      <i class="fas fa-share"></i>
    </a>
  </div>
</div>
</html>